<footer class="bg-warning  py-3 mt-5">
  <div class="container text-center">
    <p class="mb-1" style="font-family: 'Inter', sans-serif;">&copy; 2026 FOTO BOY. All rights reserved.</p>
    <small style="font-family: 'Inter', sans-serif;">Made with | by MSICODE</small>
  </div>
</footer>